<div *ngIf=unit>
    <div class="unit-name">
        <h1>{{unit.name}}</h1>
    </div>
    <mat-card class="status-card">
        <mat-card-header>
            <mat-card-title>ステータス</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-table
                [data]="[unit]"
                [columnFields]=unitFields
            ></app-table>
            <span class="mat-body">発動中のルーン: {{unit.applicableRunes.toString()}}</span>
        </mat-card-content>
    </mat-card>
    <mat-card class="runes-card">
        <mat-card-header>
            <mat-card-title>装備中のルーン</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-table
                [data]="unit.runes"
                [columnFields]=runeFields
            ></app-table>
        </mat-card-content>
    </mat-card>
    <mat-card class="score-rate-card">
        <mat-card-header>
            <mat-card-title>スコア指数</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-score-rate-form (onUpdate)=onUpdateScoreRate()></app-score-rate-form>
        </mat-card-content>
    </mat-card>
    <mat-card class="runes-top10-card">
        <mat-card-header>
            <mat-card-title>おすすめのルーン</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let field of recommendedRuneFilterFields">
                <ng-container [ngSwitch]="field.type">
                    <ng-container *ngSwitchCase="'select'">
                        <mat-form-field>
                            <mat-label>{{field.label}}</mat-label>
                            <mat-select (valueChange)="onConditionChange(field, $event)" [multiple]=true>
                                <mat-option *ngFor="let option of field.options" [value]="option.value">
                                    {{option.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'toggle'">
                        <mat-slide-toggle (change)="onConditionChange(field, $event.checked)">{{field.label}}</mat-slide-toggle>
                    </ng-container>
                    <ng-container *ngSwitchCase="'text'">
                        <mat-slide-toggle (change)="onConditionChange(field, $event.checked)">{{field.label}}</mat-slide-toggle>
                    </ng-container>
                </ng-container>
            </ng-container>
            <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                <ng-container *ngFor="let slot of [1, 2, 3, 4, 5, 6]">
                    <mat-tab [label]="'スロット' + slot"><ng-container *ngTemplateOutlet="runeTable; context:{$implicit:slot}"></ng-container></mat-tab>
                </ng-container>
                <ng-template #runeTable let-slot>
                    <app-table
                        [dataSourceSubject]=subjectManager.getRecommendedRunes(slot)
                        [columnFields]=recommendedRuneFields
                        [filterFields]=recommendedRuneFilterFields
                        [conditionValueSubject]=subjectManager.runeCondition
                        [pageable]=true
                    ></app-table>
                </ng-template>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>

