@import "../../../../styles.scss";

table {
    width: 100%;
    tr {
        td a {
            display: block;
            line-height: 48px;
            text-decoration: none;
        }
    }
    .highlight {
        background: mat-color($primary, lighter);
    }
}
