<div class="coditions">
    <ng-container *ngFor="let field of filterFields">
        <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'select'">
                <mat-form-field>
                    <mat-label>{{field.label}}</mat-label>
                    <mat-select (valueChange)="onConditionChange(field, $event)" [multiple]=true>
                        <mat-option *ngFor="let option of field.options" [value]="option.value">
                            {{option.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngSwitchCase="'toggle'">
                <mat-slide-toggle (change)="onConditionChange(field, $event.checked)">{{field.label}}</mat-slide-toggle>
            </ng-container>
            <ng-container *ngSwitchCase="'text'">
                <mat-slide-toggle (change)="onConditionChange(field, $event.checked)">{{field.label}}</mat-slide-toggle>
            </ng-container>
        </ng-container>
    </ng-container>
    <button mat-flat-button color="accent" (click)="resetFilters()" *ngIf="filterFields.length > 0">検索条件クリア</button>
</div>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <div *ngFor="let field of columnFields">
        <ng-container [matColumnDef]=field.key>
            <ng-container *ngIf="field.sortable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{field.label}}</th>
            </ng-container>
            <ng-container *ngIf="!field.sortable">
                <th mat-header-cell *matHeaderCellDef>{{field.label}}</th>
            </ng-container>
            <td mat-cell *matCellDef="let element" [matTooltip]=element[field.toolTipKey]>
                <div *ngIf="rowRouterLink; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock><a [routerLink]=rowRouterLink(element)>{{field.valueAccessor ? field.valueAccessor(element) : element[field.key]}}</a></ng-template>
                <ng-template #elseBlock>{{field.valueAccessor ? field.valueAccessor(element) : element[field.key]}}</ng-template>
            </td>
        </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)"></tr>
</table>

<div [hidden]=!pageable>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
