<header class="mat-primary">
    <div class="header">
        <h1 class="mat-h1">サマナーズウォー管理ツール</h1>
    </div>
    <div class="file-import">
        <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()" />
        <div class="file-import-button">
            <button mat-raised-button class="file-select-button" (click)="onClickFileInputButton()">
                <mat-icon>attach_file</mat-icon>
                sw-exporterのJSONファイルを選択
            </button>
        </div>
        <div class="file-import-description">
            <p class="file-name" *ngIf="!file; else fileName">ファイルが選択されていません（使い方は<a routerLink="home#usage">こちら</a>を参照）</p>
        </div>
        <ng-template #fileName>
            <p class="file-name">{{ file?.name }}</p>
        </ng-template>
    </div>
</header>

<div id="usage" class="usage">
</div>
