<header class="mat-primary">
    <div class="header">
        <h1 class="mat-h1">サマナーズウォー管理ツール</h1>
    </div>
    <div class="file-import">
        <input type="file" style="display: none" #fileInput accept="application/JSON" (change)="onChangeFileInput()" />
        <div class="file-import-button">
            <button mat-raised-button class="file-select-button" (click)="onClickFileInputButton()">
                <mat-icon>attach_file</mat-icon>
                sw-exporterのJSONファイルを選択
            </button>
        </div>
        <div class="file-import-description">
            <p class="file-name" *ngIf="!importFileName; else fileName">デモデータを使ってみる場合は<span class="use-sample" (click)=useSample()>こちら</span>をクリック</p>
        </div>
        <ng-template #fileName>
            <p class="file-name">{{importFileName}}をインポート済みです！<a routerLink="/runes">ルーン情報</a>や<a routerLink="/units">モンスター情報</a>を確認できます。</p>
        </ng-template>
    </div>
</header>

<main>
    <article>
        <section id="whats" class="main-section">
            <div class="main-section-row-column">
                <h2 class="mat-h2">ルーンやモンスターの管理</h2>
                <p>sw-exporterでエクスポートしたjsonファイルをインポートすることで、ルーン・アーティファクト・モンスターなどのあらゆるゲーム内の情報を閲覧できます。</p>
            </div>
            <div class="main-section-row-column">
                <h2 class="mat-h2">スコアによるルーンの評価</h2>
                <p>ルーンのスコア付けにより、大量のルーンの中から無駄なルーンや有用なルーンを簡単に検出できます。</p>
            </div>
            <div class="main-section-row-column">
                <h2 class="mat-h2">モンスターのビルド</h2>
                <p>モンスター毎に最適化されたルーンの組み合わせをサジェストします。</p>
            </div>
        </section>
        <mat-divider></mat-divider>
        <section id="usage" class="main-section">
            <div class="usage-row-column">
                <h2 class="mat-h2">使い方</h2>
            </div>
        </section>
        <mat-divider></mat-divider>
        <section id="info" class="main-section">
            <div class="info-row-column">
                <h2 class="mat-h2">更新情報</h2>
            </div>
        </section>
    </article>
</main>
